@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Quicksand:wght@300..700&display=swap');
*{
  transition: all 0.5;
}
body{
  margin: 0;
  padding-top: 10%;
  font-family: "Quicksand", sans-serif;
  background-color: var(--body_background);
}

.logo{
  background-color: grey;
  display: flex;
  justify-self: center;
  text-align: center;
}

/*navbar css*/
nav{
  width: 100%;
  background-color: #dbbaa7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  position: fixed;
  top: 0;
}
ul{
  background-color: #d2ac97;
  border-radius: 5px;  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 4px 2px;
  padding: 15px 32px;
}
li {
  float: left;

}
li a {
  color: var(--body_color);
  text-align: center;
  text-decoration: none;
}
.login-out{
  font-family: "Quicksand", sans-serif;
  background-color: #d2ac97;
  color: var(--body_color);
  font-size: 15.5px;
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
/*------------------------------------*/

.title{
  text-align: center;
  color: var(--body_color);
}

/*forms: sign in and create account*/
.form{
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  border-radius: 5px;
  background-color: #CACAA8;
  padding: 30px;
}
input[type=email], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.loginbutton{
  background-color: #908b6b;
  border-radius: 5px;
  color: var(--body_color);
  text-align: center;  
  font-size: 16px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

}

.paragraph{
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #CACAA8;
  border-radius: 5px;
  padding: 40px 10px 15px;
  margin: auto;
  width: 100ch;
}

.button1{
  background-color: #908b6b;
  color: var(--body_color);
  border-radius: 5px;
  text-align: center;  
  font-size: 16px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

/*responsive*/
@media (min-width: 320px) { /*both*/
  .title{
    width: 100%;
  }
}

@media screen and (max-width: 767px) { /*mobile*/
  .paragraph{
    width: 90%;
    font-size: 20px;
  }
  .title{
    margin-top: 40px;
    width: 100%;
    height: auto;
  }
  .form{
  font-size: 16px;
  width: 60%;
}
}

@media (min-width: 768px) and (max-width: 1024px) { /*tablet*/
  .paragraph{
    width: 70ch;
  }
  .form{
    font-size: 16px;
    width: 30%;
  }
} 

@media (min-width: 1025px) { /*desktop*/
    .paragraph{
    width: 80ch;
  }
    .form{
    font-size: 16px;
    width: 30%;
  }
}
