@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Quicksand:wght@300..700&display=swap');

body{
  font-family: "Quicksand", sans-serif;
  background-color: #fcf8ef;
}

/*navbar css*/
nav{
  background-color: #dbbaa7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}
ul{
  background-color: #d2ac97;
  border-radius: 5px;  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 4px 2px;
  padding: 15px 32px;
}
li {
  float: left;

}
li a {
  color: white;
  text-align: center;
  text-decoration: none;
}
.login-out{
  font-family: "Quicksand", sans-serif;
  background-color: #d2ac97;
  color: white;
  font-size: 15.5px;
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
/*------------------------------------*/

.title{
  text-align: center;
}

/*forms: sign in and create account*/
.form{
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  border-radius: 5px;
  background-color: #CACAA8;
  padding: 30px;
}
input[type=email], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.loginbutton{
  background-color: #908b6b;
  color: white;
  text-align: center;  
  font-size: 16px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

}

.paragraph{
  background-color: #CACAA8;
  border-radius: 5px;
  padding: 10px 15px;
  margin: auto;
  width: 100ch;
}

.button1{
  background-color: #908b6b;
  color: white;
  border-radius: 5px;
  text-align: center;  
  font-size: 16px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

